
nav {
    width: 100%;
    display: grid;
    grid-template-areas: 'A B'
                        "C C";
    row-gap: 2rem;
    background-color: black;
    color: white;
    padding: 1rem;
  
}

nav img {
    width: 5rem;
    grid-area: A;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-family:"Clear Sans",sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    grid-area: C;
}

nav button{
    grid-area: B;
    background-color: black;
    color: white;
    font-family: "Clear Sans",sans-serif;
    border: 1px solid white;
    padding: 0.4rem;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav ul {
        width: 50%;
        font-size: 1rem;
    }

}



a{
    color: white;
    text-decoration: none;
}